@import './variables';
// Botones

.boton-1 {
    font-weight: bold;
    color: $marino;
    text-decoration: none;
    border: 2px solid $marino;
    padding: 12px 40px;
    border-radius: 2px;
    &:hover{
        background-color: $marino !important;
        color: white;
        transition: all .2s;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.336);
    }
}


.boton-2 {
    padding: 10px 30px;
    background: $negrito;
    margin: 10px 0px;
    border-radius:50px;
    text-decoration: none;
    color: white !important;
    font-weight: 400;
    font-size: 18px !important;
    border: 2px solid $negrito;
    font-weight: bold;
    &:hover{
        transition: all .3s;
        background-color:$negroso;
        color:white !important;
    }
}
