@import './variables';
// Botones

#boton-1 {
    padding: 8px 30px;
    background: $cielo;
    margin-left: 10px;
    border-radius:8px;
    text-decoration: none;
    color: white;
    font-weight: 400;
    border: 2px solid $cielo;

    &:hover{
        transition: all .3s;
        background: $marino !important;
        border: 2px solid $marino;
    }
}


#boton-2 {
    padding: 8px 30px;
    margin-left: 10px;
    border-radius:8px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.884);
    background: transparent;
    font-weight: 400;
    border: 1px solid white;

    &:hover{
        transition: all .3s;
        color: $negrito;
        background: white;
        border: 1px solid white;
    }
}

#boton-3 {
    padding: 8px 30px;
    margin-left: 10px;
    border-radius:8px;
    text-decoration: none;
    color: $negrito;
    background: transparent;
    font-weight: 400;
    border: 2px solid $cielo;

    &:hover{
        transition: all .3s;
        color: rgb(255, 255, 255);
        background: $marino;
        border: 2px solid $marino
    }
}
