$marino: #5e17eb;
$cielo: #00bdd3;
$negrito:  #434964;


.contenedor {
    margin-left: 5%;
    margin-right: 5%;
    @media screen and (max-width:500px) {
        margin-right: 2%;
        margin-left: 2%;
    }
}