@import './botones';
@import './variables';
@import './letras';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    box-sizing: content-box;
}

html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Merriweather', serif;
    font-weight: 400;
    cursor:auto;
    overflow-x: hidden;
    background-color: rgb(0, 0, 12);
}

$break-700px: 700px;
$break-iphone7plus: 414px;


header{
    width: 100%;
    height: auto;   
    // Menu
    .divMenu {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:950px) {
            height: 10vh;

        }
        .logo {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width:950px) {
                p {
                    font-size: 20px !important;
                }
            }

        }
        nav {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .divIcoMenu{
                padding: 10px;
                width: 40px;
                // background-color: $marino;
                border: 5px solid $marino;
                border-radius: 50%;
                @media screen and (max-width:950px) {
                    width: 30px;
                }
                .icoMenu{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    @media screen and (max-width:950px) {
                        ion-icon{
                            font-size: 30px !important;
                        }
                    }
                    ion-icon{
                        font-size: 40px;
                        color: white;
                    }
                }
            }
            .linkMenu{
                position: absolute;
                top: 150px;
                right: 0;
                width: 0px;
                height: auto;
                background-color: white;
                border-radius: 10px;
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                transition: all .4s;
                p{
                    text-align: center;
                    color: $negrito;
                    font-weight: bold;
                    font-size: 20px;
                }
                div {
                    display: flex;
                    padding: 30px 20px;
                    transition: all .4s;
                    #miLogo {
                        span{
                            color: $negrito !important;
                        }
                    }
                    a {
                        text-decoration: none;
                        color: $marino;
                        font-weight: bold;
                        font-size: 25px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            color: $negrito;   
                        }
                        ion-icon{
                            font-size: 20px;
                            padding: 0px 10px;
                        }
                    }

                    .boton-1 {
                        &:hover{
                            color: $negrito !important;
                        }
                    }
                }
            }
        }
    }
    //  introduccion
    .div-header{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 20px 0px;
        @media screen and (max-width:950px) {
            justify-content: center;
            align-items: center;
            padding: 10px 0px !important;
        }
        .divText{
            width: 60%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            padding: 40px 0px;
            margin: 40px 0px;
            @media screen and (max-width:950px) {
                padding: 20px 0px !important;
                margin: 20px 0px !important;
            }
            div {
                padding: 10px 0px;
            }
            @media screen and (max-width:950px) {
                width: 100%;
                align-items: center;
                text-align: center;
                h1 {
                    font-size: 40px !important;
                }
            }
            @media screen and (max-width:712px) {
                padding: 10px 0px;
            }
            @media screen and (max-width:550px){
                padding:10px 0px;
                margin: 10px 0px;
            }
            i{
                font-size: 80px;
                color: white;
                cursor: pointer;
            }
            h1{ 
                font-size: 50px;
                color: white;
                font-weight: bold !important;
                @media screen and (max-width:550px){
                    padding: 10px 0px;
                }
                span {
                    color: $marino;
                }
            }
            p {
                font-size: 20px;
                color: $negrito;
                font-weight: normal;
            }
            #div-botones{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                @media screen and (max-width:950px) {
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        .divImg{
            width: 40%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 10px 0px;
            margin: 10px 0px;
            @media screen and (max-width:950px) {
                width: 100%;
                padding: 0;
                margin: 0;
                img{
                    width: 70% !important;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}

.seccionInfo{
    width: 100%;
    .divInfo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid rgba(220, 220, 220, 0.158);
        border-bottom: 1px solid rgba(220, 220, 220, 0.158);
        div {
            padding: 10px;
            text-align: center;
            ion-icon {
                color: white;
                font-size: 40px;
                padding: 10px 0px;
            }
            p {
                color: white;
                font-size: 20px;
                padding: 10px 0px;
            }
        }
    }
}

.seccion1{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    @media screen and (max-width:550px){
        padding: 0px !important;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px 10px;
        line-height: 50px;
        color: white;
        span {
            color: $marino;
        }
    }
    .divSec1 {
        margin: 20px 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .tarjetaServicio {
            width: 250px;
            padding: 25px 35px;
            margin: 20px auto;
            border-radius: 50px;
            box-shadow: 0px 15px 32px 5px rgba(0, 0, 0, 0.123);
            @media screen and (max-width:550px){
                box-shadow: 0px 15px 32px 5px rgba(0, 0, 0, 0);
            }
            &:hover{
                transition: all .4s;
                background: $marino;
                a{
                    transition: all .4s;
                    color: white;
                    background: $cielo;
                    border: 2px solid $cielo;
                    &::before {
                        color: white;
                    }
                }
                #icono {
                    transition: all .4s;
                    color: white !important;
                }
                h1{
                    transition: all .4s;
                    color: white;
                }
                p{
                    transition: all .4s;
                    color: white;
                }
            }
            div {
                text-align: center;
                font-weight: bold;
                color: white;
                a {
                    text-decoration: none;
                    color: transparent;
                    padding: 6px 30px;
                    border-radius: 20px;
                    border: 2px solid white;
                    &::before{
                        font-size: 20px;
                        font-weight: bold;
                        background: transparent;
                        content: '→';
                        color:white;
                    }
                }
            }
            .icoTarjeta {
                width: 100%;
                padding: 20px 0px 10px;
                #icono{
                    font-size: 60px;
                    color: white;
                }
            }
            .textTarjeta {
                width: 100%;
                padding: 20px 0px 40px;
                h1 {
                    font-size: 25px;
                    padding: 10px 0px;
                }
                p {
                    font-weight: normal;
                    font-size: 18px;
                }
            }
        }
    }
}

.seccion2 {
    width: 100%;
    .divSec2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        @media screen and (max-width:950px) {
            justify-content: center;
            align-items: center;
            h1 {
                font-size: 40px !important;
            }
        }
        div {
            padding: 50px 0px;
            width: 500px;

            h1{
                font-size: 50px;
                color: white;
            }
            p {
                color: $negrito;
                font-size: 20px;
                line-height: 30px;
            }
            img {
                width: 100%;
            }
        }
    }
}

.seccion3 {
    width: 100%;
    background-color: $negrito;
    .divSec3 {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div{
            width: 50%;
            text-align: center;
            padding: 20px 0px;
            h1 {
                color: white;
                font-size: 50px;
            }
            p {
                font-size: 16px;
                color: white;
                span {
                    color: $cielo;
                }
            }
        }
    }
}

.seccion4 {
    width: 100%;
    .divSec4{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        margin: 20px 0px;
        padding: 20px 0px;
        div {
            width: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            @media screen and (max-width:750px) {
                width: 100%;
                height: auto !important;
                align-items: center;
                text-align: center !important;
                padding: 10px 0px;
                h1 {
                    font-size: 40px !important;
                }
                img {
                    width: 80% !important;
                }
            }
            
            h1 {
                font-size: 40px;
                padding: 10px 0px;
                color: white;
                span {
                    color: $marino;
                }
            }
            a {
                padding: 15px 15px;
                text-decoration: none;
                ion-icon {
                    font-size: 50px;
                    color: #25D366;
                }

                &:hover{
                    transition: all .2s;
                    ion-icon{
                        transition: all .2s;
                        color: white;
                    }
                }
            }
        }
    }
}

footer{
    width: 100%;
    height: auto;
    // background-color: rgb(14, 0, 39);
    .divFooter {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
        margin: 10px 0px;
        div {
            p {
                color: $negrito;
                font-weight: bold;
            }
        }
    }
}


@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }