@import './botones';
@import './variables';
@import './letras';
@import './menu';
#00051dd2#00051de3

*{
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
}

html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Merriweather', serif;
    font-weight: 400;
    cursor:auto;
    overflow-x: hidden;
    // background-color: rgb(0, 0, 12);
    background-color: white;
    margin: 0;
    padding: 0;
}

$break-700px: 700px;
$break-iphone7plus: 414px;


header{
    width: 100%;
    height: auto;
    z-index: 10;
    //  introduccion
    .div-header{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 20px 0px;
        @media screen and (max-width:950px) {
            justify-content: center;
            align-items: center;
            padding: 10px 0px !important;
        }
        .divText{
            width: 45%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            @media screen and (max-width:950px) {
                padding: 10px 0px !important;
                margin: 10px 0px !important;
                align-items: center !important;
                text-align: center !important;
                h3 {
                    margin: 0;
                }
                hr {
                    display: none;
                }
            }
            #div-redes{
                padding: 20px 0px;
                a {
                    padding: 20px 10px;
                    font-size: 30px;
                    color: $negrito;
                    text-decoration: none;
                }
            }
            div {
                padding: 5px 0px;
            }
            @media screen and (max-width:950px) {
                width: 100%;
                align-items: center;
                text-align: left;
            }
            @media screen and (max-width:712px) {
                padding: 10px 0px;
                h1 {
                    font-size: 45px !important;
                }
            }
            @media screen and (max-width:550px){
                padding:10px 0px;
                margin: 10px 0px;
            }
            hr{
                width: 40px;
                border:1px solid black;
                margin: 10px 0px;
            }
            h3 {
                font-size: 25px;
                font-weight: normal;
                color:$negrito;
                span {
                    color: $marino;
                    font-weight: bold;
                }
            }
            h1{ 
                font-size: 60px;
                color: $negrito;
                margin: 0;
                font-weight: bold !important;
                @media screen and (max-width:550px){
                    padding: 10px 0px;
                }
                span {
                    color: $marino;
                }
            }
            p {
                font-size: 20px;
                color: $negrito;
                line-height:30px;
                font-weight: normal;
                a{
                    text-decoration: none;
                    color: $marino;
                    &::after{
                        content: '📲';
                    }
                }
            }
            #div-botones{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                @media screen and (max-width:950px) {
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        .divImg{
            width: 55%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 0px;
            margin: 0px 0px;
            @media screen and (max-width:950px) {
                width: 100%;
                padding: 0;
                margin: 0;
                img{
                    width: 70% !important;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}

.mensajeBienvenida{
    position: fixed;
    top: -1000px;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.411);
    z-index: 100000000;
    .tarjeB{
        position: relative;
        width: 40%;
        display: flex;
        padding: 20px 0px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 10px;
        .quit{
            position: absolute;
            width: auto;
            top: -20px;
            right: 10px;
            text-align: right;
            p{
                font-size: 22px;
                font-weight: bold;
                color: white;
                cursor: pointer;
                padding: 12px 15px;
                border-radius: 100%;
                background: red;
            }
        }
        div {
            text-align: center;
            padding: 5px;
            text-decoration: none;
            p {
                font-size: 20px;
                color: $negrito;
            }
            h2 {
                font-size: 30px;
                color: $marino;
            }
            a {
                text-decoration: none;

            }
            ion-icon {
                background-color: $marino;
                font-size: 40px;
                color: white;
                padding: 12px;
                border-radius: 100%;
            }
        }
    }
    @media screen and (max-width:950px){
        .tarjeB{
            width: 80%;
        }
    }
}

.seccionMi{
    width: 100%;
    position: relative;
    .divSecMi{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
        padding: 50px 0px;
        div {
            width: 700px;
            margin: 0px auto;
            h3{
                position: relative;
                font-size: 25px;
                font-weight: normal;
                color:$negrito;
                padding: 0;
                margin: 0;
            }
            h1 {
                font-size: 50px;
                color: $negrito;
                margin: 0;
            }
            p{
                font-size: 18px;
                line-height: 30px;
                color: $negroso;
            }
        }
        .desc{
            position: relative;
            width: 300px;
            text-align: center;
        }

        @media screen and (max-width:712px) {
            padding: 50px 0px;
            div {
                width: 100% ;
                text-align: center;
                margin:20px 0px;
                h1{
                    font-size: 40px;
                }
                p{
                    font-size: 18px;
                }
            }
        }
    }
}


.seccionSk{
    width: 100%;
    background: url(../images/33290.jpg);
    background-size: cover;
    background-attachment: fixed;
    .color {
        width: 100%;
        height: inherit;
        background: rgba(78, 0, 202, 0.685);
    }
    .divSecSk{
        padding: 50px 0px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        h1 {
            font-size: 55px;
            color: white;
        }
        .skilss{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            flex-wrap: wrap;
            margin: 20px 0px;
            overflow: hidden;
            div {
                position: relative;
                width: 30%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 10px 0px;
                padding: 10px 50px;
                border-radius: 10px;
                h3 {
                    color: white;
                    font-size: 30px;
                    padding: 12px 0px;
                    margin: 0;

                }
                p{
                    margin: 0;
                    color: white;
                    font-size: 25px;
                    font-weight: normal;
                    padding: 5px 0px;
                }
            }
        }
        @media screen and (max-width:712px){
            .skilss{
                div {
                    width: 100%;
                    justify-content: center;
                    align-items: center ;
                }
            }
        }
    }
}

.seccion-portafolio{
    width: 100%;
    padding: 40px 0px;
    .tit{
        width: 100%;
        text-align: center;
        
        h1{
            color: $negrito;
            font-size: 40px;
            margin: 0;
            padding: 10px 0px;
        }
        p {
            margin: 0;
            padding: 0;
            font-size: 20px;
        }
    }
    .div-portafolio{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 20px 0px;
        flex-wrap: wrap;

        .tarjt-portafolio{
            width: 500px;
            padding: 20px;
            margin: 50px auto;
            box-sizing: border-box;
            box-shadow: 10px 10px 30px #00000021;
            border-radius: 30px;
            img {
                width: 100%;
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
            }
            div {
                width: 100%;
                text-align: center;
                padding: 10px 0px;
            
                p {
                    color: $negrito;
                    span {
                        font-weight: bold;
                        font-style: oblique;
                        text-transform: uppercase;
                    }
                }

            }
        }
    }
}

.seccion-trab{
    width: 100%;
    background-color: $marino;
    .div-trab{
        padding: 50px 0px;
        width: 100%;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        div {
            text-align: center;
            width: 80%;
            margin: 0;
            padding: 10px 0px;
            h3 {
                color: rgba(255, 255, 255, 0.829);
                font-size: 20px;
            }
            h1 {
                font-size: 35px;
                color: white;
            }
        }
        @media screen and (max-width:712px){
            div{
                width: 100%;
                h3 {
                    font-size: 18px;
                }
                h1 {
                    font-size: 25px;
                }
            }
        }
    }
}

footer{
    width: 100%;
    background-color: $marino;
    hr {
        width: 50%;
        color: rgba(255, 255, 255, 0.164);
    }
    .divFooter{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        
        div {
            padding: 10px 0px;
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            p{
                color: white;
            }
            a{
                text-decoration: none;
                ion-icon{
                    color: white;
                    font-size: 30px;
                    padding: 0px 10px;
                }
            }
        }
    }
}

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }