@import './botones';
@import './variables';
@import './letras';
#00051dd2#00051de3
* {
    margin: 0 !important;
    padding: 0 !important;
    box-sizing: border-box;
    box-sizing: content-box;
}

html{
    scroll-behavior: auto;
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Merriweather', serif;
    font-weight: 400;
    cursor:auto;
    overflow-x: hidden;
    // background-color: rgb(0, 0, 12);
    background-color: white;
}

$break-700px: 700px;
$break-iphone7plus: 414px;


header{
    width: 100%;
    height: auto;   
    z-index: 10;
    .sesgo {
        z-index: -30;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto;
        background-color: transparent;
        div {
            width: 80%;
            height: 700px;
            background-color: $marino;
            border-end-end-radius: 50%;
            @media screen and (max-width:950px) {
                width: 100%;
                height: 800px;
                border-end-end-radius: 0%;
    
            }
        }   
    }
    // Menu
    .divMenu {
        width: 100%;
        height: 15vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        @media screen and (max-width:950px) {
            height: 10vh;

        }
        .logo {
            width: 50%;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            @media screen and (max-width:950px) {
                p {
                    font-size: 20px !important;
                }
            }

        }
        nav {
            width: 50%;
            display: flex;
            justify-content: flex-end;
            align-items: center;

            .divIcoMenu{
                padding: 10px;
                width: 40px;
                // background-color: $marino;
                // border: 5px solid $marino;
                // border-radius: 50%;
                z-index: 100000;
                @media screen and (max-width:950px) {
                    width: 30px;
                }
                .icoMenu{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    z-index: 100000;
                    @media screen and (max-width:950px) {
                        ion-icon{
                            font-size: 30px !important;
                            z-index: 100000;
                        }
                    }
                    ion-icon{
                        font-size: 50px;
                        color: $negrito;
                    }
                }
            }
            .linkMenu{
                position: absolute;
                top: 0px;
                right: 0;
                width: 0%;
                height: 0;
                background-color:rgb(1, 0, 10);
                box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.329);
                flex-direction: column;
                justify-content: flex-start;
                align-items:flex-start;
                transition: all .6s;
                padding: 0px 0px;
                z-index: 1000;
                p{
                    text-align: center;
                    color: $negrito;
                    font-weight: bold;
                    font-size: 20px;
                }
                .padre{
                    width: 0%;
                    height: 0%;
                    margin: 100px 0px;
                }
                div {
                    width: 50%;
                    margin: 10px 40px;
                    display: flex;
                    flex-direction: column;
                    padding: 10px 20px;
                    transition: all .4s;
                    text-align: left;
                    justify-content: flex-start;
                    align-items: flex-start;
                    #miLogo {
                        span{
                            color: white !important;
                        }
                    }
                    a {
                        padding: 10px 0px;
                        text-decoration: none;
                        color: white;
                        font-weight: bold;
                        font-size: 32px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        &:hover {
                            color: $marino;   
                        }
                        ion-icon{
                            font-size: 20px;
                            padding: 0px 10px;
                        }
                        &:hover{
                            transition: all .2s;
                            &::after{
                                transition: all .4s;
                                padding: 0px 5px;
                                content: '→';
                                color: white;
                                font-weight: bold;
                                
                            }
                        }
                    }

                    .boton-1 {

                    }
                }
            }
        }
    }
    //  introduccion
    .div-header{
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 20px 0px;
        @media screen and (max-width:950px) {
            justify-content: center;
            align-items: center;
            padding: 10px 0px !important;
        }
        .divText{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: column;
            justify-content:center;
            align-items:flex-start;
            padding: 10px 0px;
            margin: 10px 0px;
            @media screen and (max-width:950px) {
                padding: 20px 0px !important;
                margin: 20px 0px !important;
            }
            #div-redes{
                padding: 20px 0px;
                a {
                    padding: 20px 10px;
                    font-size: 30px;
                    color: $negrito;
                }
            }
            div {
                padding: 5px 0px;
            }
            @media screen and (max-width:950px) {
                width: 100%;
                align-items: center;
                text-align: center;
                h1 {
                    font-size: 40px !important;
                }
            }
            @media screen and (max-width:712px) {
                padding: 10px 0px;
            }
            @media screen and (max-width:550px){
                padding:10px 0px;
                margin: 10px 0px;
            }
            hr{
                width: 40px;
                border:1px solid black;
                margin: 10px 0px;
            }
            h3 {
                font-size: 25px;
                font-weight: normal;
                color:$negrito;
                span {
                    color: white;
                }
            }
            h1{ 
                font-size: 60px;
                color: white;
                margin: 0;
                font-weight: bold !important;
                @media screen and (max-width:550px){
                    padding: 10px 0px;
                }
                span {
                    color: $marino;
                }
            }
            p {
                font-size: 20px;
                color: $negrito;
                font-weight: normal;
            }
            #div-botones{
                width: 100%;
                height: auto;
                display: flex;
                flex-direction: row;
                @media screen and (max-width:950px) {
                    justify-content: center;
                    align-items: center;
                }
            }

        }
        .divImg{
            width: 50%;
            height: auto;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            padding: 0px 0px;
            margin: 0px 0px;
            @media screen and (max-width:950px) {
                width: 100%;
                padding: 0;
                margin: 0;
                img{
                    width: 70% !important;
                }
            }
            img {
                width: 100%;
            }
        }
    }
}

.seccion1{
    width: 100%;
    height: auto;
    padding: 20px 0px;
    @media screen and (max-width:550px){
        padding: 0px !important;
    }
    h1 {
        text-align: center;
        font-size: 40px;
        padding: 20px 10px;
        line-height: 50px;
        color: $negrito;
        span {
            color: $marino;
        }
    }
    .divSec1 {
        margin: 20px 0px;
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
        div {
            text-align: center;
            width:300px;
            height: 40vh;
            padding: 10px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            h3 {
                font-size: 20px;
                color: $marino;
                font-weight: normal;
            }
            p {
                font-size: 18px;
                color: $negroso;
                margin: 0px;
                padding: 5px 0px;
            }
        }
    }
}

// Seccion Portafolio
.seccion2 {
    width: 100%;
    .titPort{
        padding: 20px;
        width: 100%;
        text-align: center;
        font-size: 25px;
        color: $marino;
    }
    .divSec2 {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-start;
        flex-wrap: wrap;
        margin: 50px 0px;
        .tarjePor{
            position: relative;
            width: 320px;
            height: 30vh;
            background-color: rgba(206, 206, 206, 0.404);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 10px;

            .oculto {
                position: absolute;
                width: 0%;
                height: 0;
                display: none;
                background-color: black;
                top: 0;
                transition: all .10s;
                border-radius: 10px;
                .boton-1{
                    padding: 10px 20px !important; 
                    font-size: 16px !important;
                }
            }
            &:hover{
                transition: all .2s;
                .oculto {
                    transition: all .2s;
                    position: absolute;
                    width: 100%;
                    height: inherit;
                    display: flex;
                    flex-direction: column;
                    background-color: rgba(0, 6, 39, 0.938);
                    top: 0;
                    justify-content: center;
                    align-items: center;
                    text-align: center;
                    h3{
                        font-size: 16px;
                        color: white;
                    }

                }
                // &::after{
                //     transition: all .2s;
                //     position: absolute;
                //     top: 0;
                //     content: 'Visitar Sitio';
                //     width: 100%;
                //     height: inherit;
                //     background-color: rgba(0, 0, 0, 0.781);
                //     display: flex;
                //     flex-direction: row;
                //     justify-content: center;
                //     align-items: center;
                //     color: white;
                // }
            }
            p {
                font-size: 20px;
                color: $negrito;
                &::after{
                    content: '🚧';
                }
                &::before{
                    content: '🚧';
                }
            }
        }
    }
}


.seccionInfo{
    width: 100%;
    .divInfo{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        border-top: 1px solid rgba(220, 220, 220, 0.158);
        border-bottom: 1px solid rgba(220, 220, 220, 0.158);
        margin-top: 50px;
        div {
            padding: 10px;
            text-align: center;
            ion-icon {
                color: $negrito;
                font-size: 40px;
                padding: 10px 0px;
            }
            p {
                color: $negrito;
                font-size: 20px;
                padding: 10px 0px;
            }
        }
    }
}



@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://example.com/MaterialIcons-Regular.eot); /* For IE6-8 */
    src: local('Material Icons'),
      local('MaterialIcons-Regular'),
      url(https://example.com/MaterialIcons-Regular.woff2) format('woff2'),
      url(https://example.com/MaterialIcons-Regular.woff) format('woff'),
      url(https://example.com/MaterialIcons-Regular.ttf) format('truetype');
  }

  .material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

  /* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }