
*{
    margin: 0%;
    padding: 0%;
    background-origin: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    background: #1C3643;
    margin: 0;
    padding: 0;
   font-family: arial;
    
}

body::-webkit-scrollbar {
    width: 8px;     /* Tamaño del scroll en vertical */
    height: 8px;    /* Tamaño del scroll en horizontal */
    display:none;  /* Ocultar scroll */
}


.nav-menu{
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 60px;
    background: #09161C;
    border-bottom: 1px solid #234150;


}


.div-menu{
    position: relative;
    float: left;
    margin-top: 20px;
    margin-left: 30px;

    border-right: 2px solid white;
}

.link{
    font-size: 16px;
    text-decoration: none;
    color: white;
    padding-left: 5px;
    padding-right: 10px;
}


.link:hover{
    transition: all .3s linear;
    color: #00DEFF;
}


.div-dev{
    position: relative;
    float: right;
    margin-top: 20px;
    margin-right:5%;

    border-left: 3px solid white;

}

.dev{
    padding-left: 5px;
    font-size: 16px;
    text-decoration: none;
    color: #06FF00;
}

.dev:hover{
    transition: all .2s linear;
    color: #00DEFF;
}






.nav-bienvenida{
    width: 100%;
    height: 800px;

    text-align: left;
}


.bienvenida{
    position: relative;
    float: left;
    top: 100px;
    width: 70%;
    height: 250px;

    padding-top: 10px;
    padding-left: 5px;



}

.bienvenida:hover{
    transition: all .2s linear;
 
}

.h3-lleva{
    margin-left: 0px;
    padding-left: 10px;

    color: white;
}

.cohete{
    position: relative;
    float: right;
    margin-top: 5px;

    width: 100px;

}



.bienvenida-2{
    position: relative;
    float: right;
    width: 70%;
    margin-top: 100px;

    text-align: left;



}

.tit-bien2{
    color: white;
    margin-left: 5px;
    padding-left: 10px;
    border-left: 5px solid #7CFB00;
}


/*--LOS DIVA--*/

.principal-diva1{
    width: 500px;
    height: 200px;
    position: relative;
    padding-top: 10px;
    margin-left: 50px;
    float: left;
}



.diva1{
    border-left: 5px solid navy;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
}

.diva2{
    border-left: 5px solid red;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
}
.diva3{
    border-left: 5px solid orange;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
}
.diva4{
    border-left: 5px solid yellow;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
}
.diva5{
    border-left: 5px solid #0DAEFF;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;
}

.diva6{
    border-left: 5px solid #00FFBA;
    margin-left: 5px;
    margin-top: 5px;
    width: 250px;

}


.a-1{
    text-decoration: none;
    color: white;
    font-size: 18px;
}



/*------------------*/

.principal-coño{
    position: absolute;
    top: 810px;
    width: 100%;
    height: 2500px;

    
 
}


/*----------Pagina Web---------*/

.div-web{   
    position: relative;
    float: left;
    top: 20px;
    left: 10px;

    width: 90%;
    height: 300px;

    border-right: 2px solid #9F9F9F;


}

.div-web:hover{
    transition: all .2s linear;

}





.img-web{
    position: relative;
    float: left;
    left: 10px;
    width: 250px;

    border-radius: 100px;
}


.intro-web{
    position: relative;

    float: left;

    margin-top: 50px;
    margin-left: 20px;

    width: 70%;
    height: auto;

    text-align: left;

}


.titulo-web{
    border-left: 1px solid #00FFDE;
    padding-left: 10px;
    margin-left: 0px;
    color:white;
}


.titulo-web:hover{
    border-left: 5px solid #00FFDE;
    transition: all .5s linear;
    color: #00FFDE;
    padding-left: 50px;
}


.des-web{
    font-size: 18px;
    color: white;
}


/*-----------Diseñoo grafico-----------------*/

.div-diseño{
    position: relative;
    float: right;
    top: 100px;

    width: 90%;
    height: 300px;

    border-left: 2px solid #9F9F9F;

}

.div-diseño:hover{
    transition: all .2s linear;

}




.img-diseño{
    position: relative;
    float: right;
    margin-top: 30px;



    width: 450px;
    height: auto;


    border-radius: 100px;
}

.intro-diseño{
    position: relative;
    float: right;
    margin-right: 0px;
    margin-top: 45px;

    text-align: left;

    width: 50%;
    height: auto;

}

.titulo-diseño{
    border-left: 1px solid red;
    padding-left: 10px;
    color: white;
}

.titulo-diseño:hover{
    border-left: 5px solid red;
    transition: all .5s linear;
    color: red;
    padding-left: 50px;
}


.des-diseño{
    color: white;
}



/*--------------MARKETINNNG-------------*/

.div-marketing{
    position: relative;
    float: left;
    top: 200px;

    width: 90%;
    height: 300px;

    text-align: left;

     border-right: 2px solid #9F9F9F;
   

}

.div-marketing:hover{
    transition: all .2s linear;

}

.img-marketing{
    position: absolute;
    top: 0px;
    left: 10px;
    right: 0px;

    width: 280px;

    border-radius: 100px;


}

.intro-marketing{
    position: relative;
    float: left;
    margin-top: 45px;
    margin-left: 30%;

    width: 50%;
    height: auto;



}

.titulo-marketing{
    border-left: 1px solid orange;
    padding-left: 10px;
    color: white;
}

.titulo-marketing:hover{
    border-left: 5px solid orange;
    transition: all .5s linear;
    color: orange;
    padding-left: 50px;
}


.des-marketing{
    font-size: 18px;
    color: white;
}


/*-----------------------------*/

.div-aplicacion{
    position: relative;
    float: right;
    top: 300px;

    width: 90%;
    height: 300px;

    text-align: left;

    border-left: 2px solid #9F9F9F;

 
}

.div-aplicacion:hover{
    transition: all .2s linear;

}

.img-aplicacion{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    width: 200px;

    border-radius: 50px;



}

.intro-aplicacion{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 100px;
    width: 50%;
    height: 210px;

 

}


.titulo-aplicacion{
    border-left: 1px solid #FFFC00;
    padding-left: 10px;
    color: white;
}

.titulo-aplicacion:hover{
    border-left: 5px solid #FFFC00;
    transition: all .5s linear;
    color: #FFFC00;
    padding-left: 50px;
}

.des-aplicacion{
    font-size: 18px;
    color: white;
}

/*-------------CIBERSECURIT----------------*/

.div-ciber{
    position: relative;
    float: left;
    top: 400px;

    width: 90%;
    height: 300px;

    text-align: left;

    border-right: 2px solid #9F9F9F;


}

.div-ciber:hover{
    transition: all .2s linear;

}

.img-ciber{
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: : 100px;
    width: 300px;
    height: 210px;

    border-radius: 50px;


}

.intro-ciber{
    position: relative;
    float: left;
    margin-top: 40px;
    margin-left: 100px;

    width: 50%;
    height: 210px;

}


.titulo-ciber{
    border-left: 2px solid #0DAEFF;
    padding-left: 10px;
    color: white;
}

.titulo-ciber:hover{
    border-left: 5px solid #0DAEFF;
    transition: all .5s linear;
    color: #0DAEFF;
    padding-left: 50px;
}

.des-ciber{
    color: white;
}



/*---ADMI REDES------*/

.div-admi{
    position: relative;
    float: right;
    top: 500px;

    width: 90%;
    height: 300px;

    text-align: left;

    border-left: 2px solid #9F9F9F;

}

.img-admi{
    position: relative;
    float: right;
    margin-top: 30px;
    margin-right: 20px;

    width: 300px;


}


.intro-admi{
    position: relative;
    float: right;
    margin-top: 40px;
    margin-right: 50px;
    width: 50%;
    height: 210px;



}


.titulo-admi{
    border-left: 1px solid #00FFBA;
    padding-left: 10px;
        color: white;
}

.titulo-admi:hover{
    border-left: 5px solid #00FFBA;
    transition: all .5s linear;
    color: #00FFBA;
    padding-left: 50px;
}


.des-admi{
    font-size: 18px;
    color: white;
}














.footer{
    position: relative;
    margin-top: 2480px;
    width: 100%;
    height: 400px;

    background: #09161C;

}

.div-fo{
    width: 200px;
    height: 60px;

    position: relative;
    float: left;
    margin-top: 50px;
    margin-left: 600px;



}


.siguenos{
    font-size: 15px;
    color: white;
}